<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Mycss")
    <link rel="icon" href="~/Resources/Image/Icon/PageIconOnline.png" />
    <title>@ViewBag.Title</title>
    <style>
        .text-title-little {
            font-size: 16px;
        }

            .text-title-little + small {
                font-size: 14px;
                font-weight: 500;
            }

        figcaption {
            padding: 10px;
        }

        .exam-notice img {
            border-radius: 50%;
            padding: 3px;
            border: 1px solid rgba(38, 38, 38, 0.2);
            transition-timing-function: ease-in;
            -webkit-transition-timing-function: ease-in;
            -moz-transition-timing-function: ease-in;
            transition-duration: 1000ms;
            transition-property: all;
        }

            .exam-notice img:hover {
                transform: scale(1.1, 1.1) rotate(360deg);
            }

        .exam-notice figure:hover small {
            font-weight: 300;
            color: rgba(38, 38, 38, 0.99);
            text-decoration: underline;
        }
        .mask-content {
            width: 600px;
        }
    </style>
</head>
<body>
    <header class="navbar  navbar-top">
        <div class="navbar-content">
            <div class="navbar-logo">
                <span class="logo-font">SICNUlE</span>
            </div>
            <div class="navbar-nav float-layout">
                <nav class="navbar-nav-list">
                    @Html.ActionLink("首页", "Index", "Home")
                    @Html.ActionLink("考试说明", "Explanation", "Home")
                    @Html.ActionLink("使用帮助", "UserHelping", "Home")
                    @Html.ActionLink("投诉建议", "UserComplaint", "Home")
                    @Html.ActionLink("立即登录", "Login", "Account")
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()
    <div class="bc-grey padding-bottom-15">
        <div class="main flex-bc-grey">
            <h4 class="title-module-left-grey padding-top-15px" style="color:white">快速帮助联系:</h4>
        </div>
        <div class="mian-content float-layout">
            <div class="float-left">
                <span class="font-color-grey-little font-size-sm">
                    项目总协调人 杨立成 （电话：84760096；  QQ:549841013）
                </span>
            </div>
            <div class="float-right">
                <span class="font-color-grey-little font-size-sm">技术维护人员  刘闵川（电话：14726679805 QQ：724119519）</span>
            </div>
        </div>
        <div class="mian-content float-layout">
            <div class="float-left">
                <span class="font-color-grey-little font-size-sm">
                    安全与环境管理科 黄海（电话： 84767565）王春（电话：13699005825）
                </span>
            </div>
            <div class="float-right">
                <span class="font-color-grey-little font-size-sm">
                    技术维护人员  蒋星（ 电话：17721953180  QQ：1427035242）
                </span>
            </div>
        </div>
    </div>
    <div class="bc-grey">
        <div class="main text-left font-color-grey-little">
            <small>© All Right Reserved . 四川师范大学计算机科学学院 版权所有 版本号1.0.0.2018.9</small>
        </div>
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/myScript")
@RenderSection("scripts", required: false)
</html>
